attrs==21.4.0
coverage==6.3.2
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
toml==0.10.2
tomli==2.0.1
pydantic==1.9.0
fastapi==0.75.1
uvicorn==0.17.6
python-jose==3.3.0
six==1.16.0
starlette==0.17.1
requests==2.27.1
graphene==3.0.0
starlette-graphene3==0.5.1
neo4j==4.4.3
pause==0.3.0
gunicorn==20.1.0
